.title {
    color: #212f3f;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    letter-spacing: -0.2px;
    line-height: 28px;
    margin: 0;
}
.btn-job-similar {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #99e0b9;
    border-radius: 6px;
    gap: 6px;
    height: 40px;
    padding: 8px 16px 8px 12px;
    width: 229px;
}
